.footer {
  background-image: url('./../../public/Assets/footer.png');
  background-size: cover;
  background-color: #0e1730;

  color: #fff;
  padding: 20px;
  width: 100%;
  z-index: 1000;
  color: #777;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer section {
  flex: 1;
  padding: 0 10px;
}

.footer h2,
.footer h3 {
  margin-top: 0;
  font-weight: bold;
}

.footer a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 5px;
}

.footer img {
  width: 50px;
  height: auto;
  margin-right: 10px;
  border-radius: 50%;
}

.footer__social {
  display: flex;
  justify-content: center;
}

.footer__icon {
  font-size: 24px;
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    
   
  }
}

