.footer {
  background-color: #0e1730;
  color: #fff;
  padding: 20px;
  
  
}

.footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* Align items vertically in the middle */
  margin-bottom: 20px;
}

.footer div span {
  flex: 1;
  margin-right: 20px;
}

.footer div span:last-child {
  margin-right: 0;
}

.footer h2,
.footer h3 {
  margin-top: 0;
  font-weight: bold; /* Make headings bold */
}

.footer a {
  display: block; /* Display links as block elements */
  color: #fff;
  text-decoration: none;
  margin-bottom: 5px; /* Add space between links */
}

.footer img {
  width: 50px;
  height: auto;
  margin-right: 10px; /* Add margin between image and text */
  border-radius: 50%; /* Make the image circular */
}

.Contactfooter{
text-align: left;
text-decoration: none;
font-weight: 1;
}

.QuickLinks{
  text-align: left;
  font-weight: 1;
}

.info{
  text-align: left;
  font-weight: 1;
}
