.search-form {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 200px; /* Adjusted width */
    padding: 10px; /* Adjusted padding */
    border: 2px solid #333; /* Dark border */
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow effect */
  }
  
  
  .search-icon {
    margin-right: 10px;
  }
  
  .search-button {
    padding: 15px 20px; /* Adjust button padding */
    background-color: #6b3e08; /* Dark brown background */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .search-button:hover {
    background-color: #4a2a05; /* Darken the background color on hover */
  }
  
  .product-page {
    padding-top: 20px; /* Add some space at the top */
  }
  
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust grid layout */
    grid-gap: 20px; /* Add gap between grid items */
    justify-items: center; /* Center grid items */
  }
  
  /* Style for each card */
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .card h2 {
    font-size: 18px;
    margin-top: 0;
  }
  
  .card p {
    margin: 10px 0;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
  }
  